$dark-purple:#3A3042;
$earth-yellow:#DB9D47;
$coral:#FF784F;
$peach-yellow:#FFE19C;
$nyanza:#EDFFD9;

* {
    font-family: Roboto , sans-serif;
    font-size: large;
    font-weight: bold;
}

body{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100vh;
    background-color:$dark-purple;
}

.calculator {
    display:flex;
    flex-direction:column;
    width: 30%;
    height:70%;
    background-color:$peach-yellow;
    min-width:300px;
    min-height:400px;
    color:white;
    border-radius:1em;
}

.calc-screen {
    display:flex;
    flex-direction:column;
    background-color:$earth-yellow;
    align-items:end;
    justify-content:space-around;
    padding:20px;
    border-radius:1em 1em 0 0;
    height:60px;
}

.calc-options {
    display:grid;
    height:20%;
    grid-template-columns:repeat( 2 , 1fr);
    padding:20px 20px 0px 20px;
}

.calc-buttons {
    display:flex;
    height:100%;
    padding:0px 20px 20px 20px;
}

.btn-numpad {
    display: grid;
    width:100%;
    grid-template-columns:repeat(4 ,1fr);
}

.btn {
    background-color:$coral;
    border: 1px solid $peach-yellow;
    border-radius:1em;
    margin:2px;
    color:white;
    box-shadow: 0 8px 8px -4px black;

    &:hover{
        background-color:$nyanza;
        color:black;
    }
}

